<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">
      <ion-col>
        <img src="assets/barbearia.png" width="100px" height="100px">
         Tabela de Preços
      </ion-col>
    </ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content class="bg-image no-scroll padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Corte Tradicional</ion-card-title>
      <ion-card-content>
          É aquele modelo básico de corte  indicado para quem não pretende inovar  desejando manter o shape normal e corriqueiro. 
        </ion-card-content>

    </ion-card-header>
  
    <ion-card-content>
     <h1>R$10.00</h1><br>
     
      <img src="assets/corte.jpg" width="200px" height="200px">
      
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content  class="bg-image no-scroll padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Corte Tesoura</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          o corte é mais orgânico e natural, as nuances entre as partes que compõem o corte (topo, laterais, franja, etc.) são mais difíceis de notar. O cabelo não fica tão curto, porém os tipos de corte feitos com tesoura geralmente não perdem seu design tão rápido.
        </ion-card-content>
      <ion-card-content>
       <h1>R$15.00</h1>
       
        <img src="assets/tesoura.jpg" width="200px" height="200px">
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-content class="bg-image no-scroll padding">
      <ion-card>

        
        <ion-card-header>
          <ion-card-title>Corte Degrade</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Esse estilo é bem prático. O cabelo concentrado no topo da cabeça é de comprimento médio e, nas laterais, ele é adaptado para se encaixar no degradê.
          </ion-card-content>
      
        <ion-card-content>
         <h1>R$13.00</h1>
         
          <img src="assets/degrade.jpg" width="200px" height="200px">
        </ion-card-content>
      </ion-card>
    </ion-content>
    
    <ion-content class="bg-image no-scroll padding">
        <ion-card>
  
          
          <ion-card-header>
            <ion-card-title>Corte Luzes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              As luzes podem ser adotadas por homens de todos estilos e idades. No caso dos mais jovens, ela geralmente é usada para conferir um visual mais descolado; para quem é mais velho, pode ser usada para disfarçar os fios brancos. Para pessoas que passam grande parte do dia em um ambiente formal, o ideal é que o corte de cabelo masculino com luzes tenha tons mais leves, sem contrastes muito chamativos.

          
            </ion-card-content>
        
          <ion-card-content>
           <h1>R$25.00</h1>
           
            <img src="assets/luzes.jpg" width="200px" height="200px">
          </ion-card-content>
        </ion-card>
      </ion-content>
      <ion-content  class="bg-image no-scroll padding">
          <ion-card>
    
            
            <ion-card-header>
              <ion-card-title>Barba</ion-card-title>

            <br>  O objetivo dessa variedade de estilos e formatos é acrescentar contraste aos formatos e dimensão a cada formato de rosto. É por isso que nem todos os estilos combinam com todo mundo.
            </ion-card-header>
            <ion-card-content>
                
  
            
              </ion-card-content>
          
            <ion-card-content>
             <h1>R$25.00</h1>
             
              <img src="assets/barba.jpg" width="200px" height="200px">
            </ion-card-content>
          </ion-card>
        </ion-content>
      
    