<ion-header>  
  <ion-toolbar color="dark">
    <ion-title color="light">
    <img src="assets/barbearia.png" width="100px" height="100px">
Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <h2>Gel Cola 1KG – Alfa Look’s</h2>
  <img src="assets/gel-cola-1-kg-alfalooks.jpg" width="100px" height="100px">
  <h2> Descrição:   O Gel Fixador para cabelos masculinos Alfa Look’s é um gel de fixação forte e brilho médio que permite criar penteados variados. Com fórmula sem álcool, este gel não engordura, não deixa o cabelo pesado, não resseca, não agride os fios e ainda tem proteção contra os raios UV, responsável pelas agressões causadas pela exposição ao sol.</h2>
</ion-content>
<ion-content >

  <h2 background color="danger">Loção Capilar - Minoxidil</h2>
  <img src="assets/produtos-barbearia-minoxidil-retro-alfalooks.png" width="100px" height="100px">
  <h2> Descrição:   O Minoxidil 5% para Barba e e Cabelo Alfa Look’s Retro (Loção Fortalecedora) foi desenvolvida com a mais alta tecnologia de mercado, sua composição contém uma poderosa associação de ingredientes como o Minoxidil que estimula a microcirculação em torno do folículo piloso acelerando o crescimento dos fios, o D-Pantenol que proporciona condicionamento, força e brilho, e a Vitamina E que protege a pele contra a ação dos radicais livres.</h2>
</ion-content>  

<ion-content>
  <h2>Heineken</h2>
  <img src="assets/579454.png" width="100px" height="100px">
  <h2> Descrição: Na praia, em uma festa ou em qualquer lugar? Sinta e desfrute, onde quer que você esteja, de um verdadeiro toque de classe com uma lata gelada de Heineken, o sabor refrescante protegido contra a luz e o ar. Saiba que a lata protege a riqueza equilibrada do sabor, a clareza refrescante e o lindo interior dourado. </h2>
</ion-content>  

